@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* /Padrão/ */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
p {
    font-family: "Raleway", sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* /Header padrão/ */

header {
    margin: 0px 300px;
    background-color: #31303D;
    height: 140px;
    padding: 0px 40px;
    padding-top: 20px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: white;
    transition: all 0.3s ease;
}
header a:hover {
    color: #5285A4;
}
.botao ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
header li {
    font-size: 18px;
}
header h5 {
    font-size: 13px;
}
.img img {
    height: 110px;
}
header button {
    cursor: pointer;
    border: none;
    padding: 0px 10px;
    background-color: #3154B8;
    color: white;
    border-radius: 7px;
    box-shadow: none;
    transition: all 0.3s ease;
}
header button:hover {
    background-color: #7CB6C2;
    color: white;
    box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.258);
}
.acesso {
    margin-top: 3px;
    height: 40px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* /Footer/ */
footer {
    margin-top: 93px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: #31303D;
    height: 135px;
    padding-top: 20px;
    border-start-start-radius: 15px;
    border-start-end-radius: 15px;
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
footer a {
    color: white;
    transition: all 0.3s ease;
}
footer a:hover {
    color: #5285A4;
}
.resto ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.direitos {
    background-color: #31303D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer li {
    font-size: 16px;
}

body *{
    
}

/*RESPOSIVIDADE*/
/*1600px*/
@media screen and (max-width: 1600px) {
    header {
        margin: 0px 200px;
    }
    footer {
        margin-top: 90px;
        margin-right: 200px;
        margin-left: 200px; 
    }  
}

/*1440*/
@media screen and (max-width: 1440px) {
    header {
        margin: 0px 100px;
    }
    footer {
        margin-top: 90px;
        margin-right: 100px;
        margin-left: 100px; 
        height: 120px;
    }  
}

/*1200*/
@media screen and (max-width: 1200px) {
    header {
        margin: 0px 50px;
    }
    footer {
        margin-top: 90px;
        margin-right: 50px;
        margin-left: 50px; 
        height: 120px;
    }  
}

/*992*/
@media screen and (max-width: 992px) {
    header {
        margin: 0px 0px;
    }
    footer {
        margin-top: 90px;
        margin-right: 0px;
        margin-left: 0px; 
        height: 120px;
    }  
}

/*768*/
@media screen and (max-width: 768px) {
    .header li {
        font-size: 15px;
    }
    .acesso h5 {
        font-size: 15px;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    header {
        height: 200px
    }
    footer {
        margin-top: 80px;
    }
    .rodape li {
        font-size: 13px;
    }
}

/*576*/
@media screen and (max-width: 576px) {
    .acesso h5 {
        font-size: 12px;
    }
    .header li {
        font-size: 12px;
    }
    header{
        border-end-start-radius: 0px;
        border-end-end-radius: 0px;
    }
    footer {
        margin-top: 0px;
        padding-top: 50px;
        border-start-start-radius: 0px;
        border-start-end-radius: 0px;
    }
    
    footer img {
        display: none;
    }
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .rodape li {
        font-size: 12px;
    }
}

/*360*/
@media screen and (max-width: 360px) {
    .header li {
        font-size: 12px;
    }
    .acesso h5 {
        font-size: 10px;
    }
    .botao {
        padding-right: 30px;
    }
    
}