

.pagGrafico {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
#welcome-message {
    color: white;
    font-family: "Ubunto", sans-serif;
    font-weight: 300px;
    padding-top: 3px;
}

main {
    min-height: 100vh;
  }

.results-content{
 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
}

.result-button{
    background-color: #3154B8;
    margin: 20px;
    padding: 10px;
    border-radius: 9px;
}

#chart-container{
    width: 100%;
}

#results-chart{
    width: 100%;
}

.results-text{
    width: 60%;
}



.is-hidden{
   display: none;
}

